body {
    font-family: 'El Messiri', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-size: cover;
    contain: content;

}

nav {
    background-color: #000000;
    color: white;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 90px; 
    margin-left: 30px;
    margin-right: 30px;   
}

.name-logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-left: 20px;
    
}

.logo {
    height: 58px;
    vertical-align: middle;
    margin-right: 10px;
}

.title {
    text-align: center;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    font-family: 'El Messiri', sans-serif;
}

.menu {
    display: flex;
    list-style: none;
    padding: 25px;
    gap: 60px;
    width: 100%;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 23px;
    transition: 0.3s;
}

.menu li a:hover {
    color: #006636;
}

.lang-button {
    background: linear-gradient(45deg, #000000 , #006636);
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px 0  15px 0;
    transition: background-color 0.3s, color 0.3s;
}

.welcome {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.792), rgba(0, 102, 54, 0.594)), url(image1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    height: 500px;
    text-align: center;
    align-items: center;
}

.welcome-text {
    font-size: 70px;
    text-align: center;
    align-items: center;
    line-height: 0;
}

.news-section {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    width: 400px;
}

.news-section li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    transition: 0.3s;
}

.weather-card {
      background: white;
      border-radius: 20px;
      box-shadow: 0 5px 20px rgba(0,0,0,0.2);
      padding: 30px;
      text-align: center;
      width: 320px;
      animation: fadeIn 1s ease-in-out;
    }

    @keyframes fadeIn {
      from {opacity: 0; transform: translateY(20px);}
      to {opacity: 1; transform: translateY(0);}
    }
    .temp {
      font-size: 60px;
      font-weight: bold;
      color: #006636;
      margin: 10px 0;
    }

    .desc {
      font-size: 20px;
      color: #555;
      text-transform: capitalize;
    }

    .extra {
      font-size: 16px;
      color: #666;
      margin-top: 10px;
    }

    .icon {
      width: 100px;
      height: 100px;
    }

footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 0px;
    width: 100%;
    font-size: 18px;    
}
