body {
    font-family: 'El Messiri', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-size: cover;
    contain: content;
}

.content {
    display: flex;
}

nav {
    background-color: #000000;
    color: white;
    padding: 0.3vw;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.625vw;
    /* 90px approximatif sur écran standard */
    margin-left: 1.875vw;
    margin-right: 1.875vw;
}

.name-logo {
    font-size: 1.25vw;
    /* 20px approximatif */
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.3vw;
    width: 100%;
    margin-left: 1.25vw;
}

.logo {
    height: 3.625vw;
    /* 58px approximatif */
    vertical-align: middle;
    margin-right: 0.625vw;
}

.title {
    text-align: center;
    font-size: 1.125vw;
    /* 18px */
    line-height: 1;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    padding: 1.5625vw;
    /* 25px */
    gap: 3.75vw;
    /* 60px */
    width: 100%;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4375vw;
    /* 23px */
    transition: 0.3s;
}

.menu li a:hover {
    color: #006636;
}

nav ul li.active a {
    color: #006636;
    font-weight: bold;
}

.lang-button {
    background: linear-gradient(45deg, #000000, #006636);
    color: #ffffff;
    border: none;
    padding: 0.625vw 0.9375vw;
    /* 10px 15px */
    cursor: pointer;
    font-size: 1vw;
    /* 16px */
    border-radius: 0.9375vw 0 0.9375vw 0;
    transition: background-color 0.3s, color 0.3s;
}

.welcome {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.792), rgba(0, 102, 54, 0.594)), url(../images/image3.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    height: 31.25vw;
    /* 500px approximatif */
    text-align: center;
    align-items: center;
}

.welcome-text {
    font-size: 4.375vw;
    /* 70px approximatif */
    text-align: center;
    align-items: center;
    line-height: 0;
}

.news-section {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1.25vw;
    /* 20px */
    width: 25vw;
    /* 400px approximatif */
}

.news-section li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.25vw;
    /* 20px */
    transition: 0.3s;
}

.weather-card {
    background: white;
    border-radius: 1.25vw;
    /* 20px */
    box-shadow: 0 0.3125vw 1.25vw rgba(0, 0, 0, 0.2);
    /* 0 5px 20px */
    padding: 1.875vw;
    /* 30px */
    text-align: center;
    width: 20vw;
    /* 320px approximatif */
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(1.25vw);
    }

    /* 20px */
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.temp {
    font-size: 3.75vw;
    /* 60px */
    font-weight: bold;
    color: #006636;
    margin: 0.625vw 0;
}

.desc {
    font-size: 1.25vw;
    /* 20px */
    color: #555;
    text-transform: capitalize;
}

.extra {
    font-size: 1vw;
    /* 16px */
    color: #666;
    margin-top: 0.625vw;
}

.icon {
    width: 6.25vw;
    /* 100px */
    height: 6.25vw;
    /* 100px */
}

.time {
    background: white;
    border-radius: 1.25vw;
    /* 20px */
    box-shadow: 0 0.3125vw 1.25vw rgba(0, 0, 0, 0.2);
    /* 0 5px 20px */
    padding: 1.875vw;
    /* 30px */
    text-align: center;
    width: 20vw;
    /* 320px approximatif */
    animation: fadeIn 1s ease-in-out;
}

.visa-types {
    color: white;

}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 0;
    width: 100%;
    font-size: 1.125vw;
    /* 18px */
}